<?xml version="1.0"?>
<config>
    <modules>
        <Cube_CategoryBestsellers>
            <version>2.0.0</version>
        </Cube_CategoryBestsellers>
    </modules>
    <global>
        <helpers>
            <categorybestsellers>
                <class>Cube_CategoryBestsellers_Helper</class>
            </categorybestsellers>
        </helpers>
        <blocks>
             <categorybestsellers>
                <class>Cube_CategoryBestsellers_Block</class>
             </categorybestsellers>
        </blocks>
		
		<resources>
			<categorybestsellers_setup>
				<setup>
					<module>Cube_CategoryBestsellers</module>
					<class>Cube_CategoryBestsellers_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				
				<connection>
					<use>core_setup</use>
				</connection>
			</categorybestsellers_setup>
			
			<categorybestsellers_write>
				<connection>
					<use>core_write</use>
				</connection>
			</categorybestsellers_write>
			
			<categorybestsellers_read>
				<connection>
					<use>core_read</use>
				</connection>
			</categorybestsellers_read>
			
		</resources>
		
    </global>
	 <frontend>
     	<layout>
            <updates>
                <categorybestsellers>
                    <file>categorybestsellers.xml</file>
                </categorybestsellers>
            </updates>
        </layout>
    </frontend>
</config> 
