<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<AccessShop_ThemeOptions>
			<version>1.0.5</version>
		</AccessShop_ThemeOptions>
	</modules>
	<!-- define models and helpers -->
	<global>
        <resources>
			<themeoptions_setup>
				<setup>
					<module>AccessShop_ThemeOptions</module>
					<class>AccessShop_ThemeOptions_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</themeoptions_setup>
			<themeoptions_write>
				<connection>
					<use>core_write</use>
				</connection>
			</themeoptions_write>
			<themeoptions_read>
				<connection>
					<use>core_read</use>
				</connection>
			</themeoptions_read>
		</resources>
		<models>
			<themeoptions>
				<class>
					AccessShop_ThemeOptions_Model
				</class>
			</themeoptions>
		</models>
		<helpers>
			<themeoptions>
				<class>
					AccessShop_ThemeOptions_Helper
				</class>
			</themeoptions>
		</helpers>
	</global>
	<!-- in order to avoid "404 and Permission Denied -->
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<accessshop>
											<title>AccessShop - All</title>
										</accessshop>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>