<config>
	<tabs>
		<accessshop translate="label">
			<label>AccessShop Lite Theme</label>
			<sort_order>000</sort_order>
		</accessshop>
	</tabs>
	<sections>
		<accessshop translate="label">
			<label>Theme Options</label>
			<tab>accessshop</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label" module="themeoptions">
					<label> Demo Group</label>
					<frontend_type>text</frontend_type>
					<sort_order>01</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<che translate="label">
							<label> Demo Field</label>
							<frontend_type>text</frontend_type>
							<sort_order>00</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</che>
					</fields>
				</general>
			</groups>
		</accessshop>
	</sections>
</config>