.block-check-delivery .block-title strong {background-image:none; font-size: 11px;}
.block-check-delivery .block-content {padding:0 10px; width:32%;float:right;  }
.block-check-delivery .button {float: right;}
.block-check-delivery input{width: 107px;float:left;}
.loading_checkDel{width:22%; float:left;}
#delivery-message{float:left;}
